<table>
  <td>
    <img src="assets/logo.png" alt="Logotipo de Indra">
  </td>
  <td>
    <a routerLink="/" >inicio</a>&nbsp;|&nbsp;
    <a routerLink="/demos" >demos</a>&nbsp;|&nbsp;
    <a routerLink="/chisme/de/hacer/calculos" >calculadora</a>&nbsp;|&nbsp;
    <a routerLink="/personas" >personas</a>&nbsp;|&nbsp;
    <a routerLink="/pepito/grillo" >pepito</a>&nbsp;|&nbsp;
    <a routerLink="/esta/no/existe" >false</a>&nbsp;|&nbsp;
    <a routerLink="/config" >config</a>&nbsp;|&nbsp;
    <a routerLink="/config/datos" >datos</a>
  </td>
</table>
