@colorError: red;
@colorAviso: red;

.error {
  color: @colorError;
}
.aviso {
  color: @colorAviso;
}

.notificaciones {
  border: 1px solid yellow;
  border-radius: 5px;
}
.center {
  text-align: center;
}
